
:root {
  --main-bg-color: rgb(248, 244, 244);
  --box-bg-color: white;
  --box-radius: 20px;
}

* {
  box-sizing: border-box;
  font-family: "Varela Round";
}

body {
  background-color: var(--main-bg-color);
}

.box {
  background-color: var(--box-bg-color);
  border-radius: var(--box-radius);
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.089);
}

.router {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 600px;
}

@media screen and (max-width: 900px) {
  .box {
    min-width: 100px;
    width: 100% !important;
  }
}

